doctype html
html
  head
    title= "Arquivo de Filmes produzidos nos Estados Unidos 1900 - 2019"
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/gestãoArquivoFilmes.js')
  body
    block content
